@import './base.scss';

.ah_modal{
    margin: 100px auto;
    width: fit-content;
    min-width: 40vw;
    max-width: 90vw;
    background: $white-color;
    border-radius: 20px;
    overflow: scroll;
    padding: 30px;
    position: relative;
    cursor: initial;
    z-index: 1007;

    &_backdrop{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1006;

        &_wrapper{
            background: rgba(38, 37, 37, .88);
            width: 100%;
            height: 100%;
            position: fixed;
            top:0;
            left:0;
            z-index: 1005;
            cursor: pointer;
        }
    }

    &_close{
        border: none;
        cursor: pointer;
        position: absolute;
        top:30px;
        right: 5%;
        font-size: 40px;
        color: #828282;

        &:hover{
            color: $red-color;
        }
    }

    &_header{
        color: #828282;
        text-transform: uppercase;
        text-align: center;

        &_img{
            width: 56px;
            height: 48px;
            background: $primary-color;
            padding: 10px;
            border-radius: 5px;
        }

        &_text{
            margin: 10px auto 0;
            font-size: 20px;
        }
    }
}

#ah-modal-close{
    background: none;
}