@import '../base.scss';

.settings_section{
  padding: 0px 4%;
  &_nav_list{
    display: flex;
    list-style-type: none;
    border-bottom: 1px solid #000000;


    li{
      margin: 20px 30px;
      color: #AAAAAA;
      font-size: 18px;
      cursor: pointer;

      svg{
        display: none;
      }

      &.active{
        color: #000000;
        font-weight: bold;
        position: relative;

        svg{
          display: block;
          height: 40px;
          width: 40px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          top: 19px;
          z-index: 3;
        }

        &::after{
          position: absolute;
          content: "";
          width: 5px;
          height: 30px;
          background: #ffffff;
          border-left: 15px solid transparent;
          top: 82%;
          right: 0.5px;
          left: 0;
          margin: 0 auto;
          transform: rotate(180deg);
        }
      }
    }
  }

  &_notification{
    &_btn{
      background: $primary-color;
      color: #ffffff;
      display: block;
      margin-left: auto;
      margin: 40px 7% 100px auto;
      padding: 10px 30px;
    }
    &_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 7%;
    padding: 20px 0;

    &:first-of-type{
      border-bottom: 1px solid #EBEBEB;
    }

    &_text{
      h6{
        font-size: 16px;
        color: #000000;
      }
      p {
        font-size: 14px;
        margin: 3px 0;
        color: #B4B4B4;
      }
    }

    input{
      width: 20px;
      height: 20px;
    }
  }
  }
}

.error-toast{
  background: $red-color;
  color: $white-color;
  font-size: 16px;
}

@media screen and (max-width: 1000px){
  .settings_section{
    &_nav_list li {
    font-size: 14px;
    margin: 20px 10px;

      &.active{
         
        svg{
          top: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 430px){
  .settings_section{
    &_nav_list li {
    font-size: 10px;
    margin: 20px 8px;
      &.active{
          
        svg{
          top: 9px;
          right:0.5px;
        }
      }
    }
    &_notification_item_text{
      h6{
        font-size: 14px;
      }
      p{
        font-size: 10px;
      }
    }
  }
}