@import "../base.scss";

.article{
  &_detail{
    padding: 50px 0;
    width: 60%;
    min-width: 900px;
    margin: 0 auto;

    &_skeleton{

      h2, span, p, 
      .article_detail_header_info_details_author, 
      div, 
      .article_detail_header_info_tag_span,
      .article_detail_bookmark
      {
        &::after {
          display: block;
          content: "";
          position: absolute;
          width: 50%;
          height: 100%;
          width: 0;
          background: linear-gradient(
            90deg,
            transparent,
            rgba(255, 255, 255, 0.2),
            transparent
          );
          animation: skeleton-card 1s infinite;
        }
      }
      h2{
        background: #E3E3E3;
        color: #E3E3E3;
        border-radius: 15px;
      }

      .article_detail_header_info_details_author{
        background: #E3E3E3;
        color: #E3E3E3;
        border-radius: 15px;
      }

      span{
        background: #A1A1A1;
        border-radius: 15px;
      }

      .article_detail_header_info_tag_span{
        background: #E3E3E3;
        color: #E3E3E3;
      }

      .article_detail_bookmark{
        i{
          display: none;
        }
        p {
          background: #E3E3E3;
          color:#E3E3E3;
          border-radius: 10px;
        }
      }

      .article_detail_aside{
        display: none;
      }

      .article_detail_body{
        p{
          width: 100%;
          height: 20px;
          background: #E3E3E3;
          border-radius: 10px;
          margin: 20px 0;
        }
      }
    }

    &_error{
      margin: 70px auto;
      background: $red-color;
      color: $white-color;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 10px;
      width: fit-content;
    }

    &_header{
      display: flex;
      width: 100%;
      height: fit-content;
      min-height: 180px;

      &_img, &_img_skeleton{
        width: 17%;
        min-width: 140px;
        height: 180px;
        border-radius: 10px 10px 0 10px;
      }

      &_img_skeleton{
        background: #BABABA;
      }

      &_info{
        margin-left: 3%;
        width: 80%;
        display: flex;
        flex-direction: column;

        &_title{
          height: fit-content;
          font-size: 30px;
          margin: 0 0 5px;
        }

        &_details{
          display: flex;
          height: 45%;
          color: #A1A1A1;
          font-size: 16px;
          align-items: flex-start;

          &_author{
            color: #70B2FF;
            margin-right: 20px;
          }

          &_date{
            margin: 0 10px;
          }

          &_time{
            margin-left: 20px;

            &_img{
              margin-right: 5px;
            }
          }
        }

        &_tag{
          color: #000000;
          height: 30%;
          display: flex;
          align-items: flex-end;
          font-size: 18px;
          margin-top: 5px;

          &_span{
            background: #E4ECEF;
            border-radius: 15px;
            padding: 1px 10px;
            margin-left: 5px;
            font-size: 15px;
            font-weight: bold;
          }
        }
      }
    }
    &_bookmark{
      color: #BABABA;
      font-size: 18px;
      display: flex;
      padding: 25px 0 15px;

      &_icon{
        margin: 2px 10px 0 0;
      }
    }

    &_body{
      font-size: 18px;

      &_no_auth{
        margin-top: 40px;
      }

    }

    &_rating{
      text-align: left;
      font-size: 20px;
      margin: 50px 0;
      &_no_auth{
        margin: 0 0 30px;
      }
      &_star{
        color: #F8B858;
        font-size: 50px;
        &s{
          margin: 10px 0;
        }
      }
      &_average{
        color: #969696;

        &_number{
          font-size: 30px;
          font-weight: bold;
          color: #F8B858;
        }
      }
    }

    &_author{
      margin: 50px 0;
      border: #E3E3E3 1px solid;
      border-radius: 11px;
      padding: 20px;
      display: flex;
      position: relative;
      width: 100%;

      &_img{
        width: 15%;
        min-width: 130px;
        height: 100%;
        min-height: 140px;
      }

      &_info{
        margin-left: 2%;
        width: 70%;
        font-size: 20px;
      }

      &_follow{
        &_btn{
          position: absolute;
          top:20px;
          right: 20px;
          color: #2FC1FF;
          font-size: 18px;
          cursor: pointer;
          font-weight: bold;
          padding: 0;
        }
      }
    }

    &_aside{
      font-size: 18px;
      width: 100px;    
      position: fixed;
      top: 250px;
      right: 70px;
      &_clap{
        color: #ADADAD;
        margin-bottom: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        cursor: pointer;

        &_img{
          width: 80px;
          height: 40px;
        }
        &_text{
          width:100%;
          text-align: center;
        }
      }
      &_share{
        margin-bottom: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &_text{
          width: 100%;
          text-align: center;
        }
        &_button{
          cursor: pointer;
          width: 100%;
          padding: 0;
          background: none;
          
          &_icon{
            font-size: 35px;
            margin: 0 auto;
          }
          &_facebook{
            color: #385592;
          }
          &_twitter{
            color: #48A2D7;
          }
          &_envelope{
            color: #808080;
          }
        }
      }
      &_report{
        color: #F94A4A;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        cursor: pointer;
        &_icon{
          font-size: 30px;
          width: 100%;
          text-align: center;
          margin-bottom: 5px;
        }
      }
    }
  }
}

@keyframes skeleton-card {
100% {
  width: 100%;
}
}

@media screen and (max-width: 1230px){
  .article_detail{
    margin: 0 0 0 40px;
    &_aside{
      right: 10px;
    }
  }
}

@media screen and (max-width: 1050px){
  .article_detail{
    min-width: calc(100vw - 150px);
    &_aside{
    transform: scale(.8);
    right: -5px;
    &_share_button{
      margin: 20px auto;
    }
    }
    &_body{
      font-size: 17px;
      line-height: 150%;
    }
    &_bookmark{
      font-size: 16px;
      margin-top: 0px;
    }
    &_header{
      height: 150px;
      &_info{
        &_details{
          font-size: 14px;
        }
        &_title{
        font-size: 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px){
  .article_detail{
    min-width: calc(100vw - 60px);
    margin: 0 auto;
    &_header{
      flex-wrap: wrap;
      height: fit-content;
      text-align: center;
      justify-content: center;

      &_img{
        height: 50%;
        border-radius: 10px;
        text-align: center;
      }

      &_info{
        margin: 20px 0 0;
        width: 100%;

        &_details{
          justify-content: center;
          margin: 20px 0;
          flex-wrap: wrap;
          &_author, &_date{
            margin-bottom: 20px;
          }
          &_author{
            width: fit-content;
          }
        }

        &_tag{
        justify-content: center;
        margin-top: -5px;
        }
        
      }
    }
    &_bookmark{
      justify-content: center;
    }
    &_aside{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    top: 0;
    right: 0;
    left: -50px;
    &_share{
      margin-top: -20px;
      
      &_no_auth{
        margin: -20px auto;
      }
      &_button{
      margin: 0px 0;
      width: 50%;
      transform: scale(1.2);
      }
    }
    &_clap, &_share, &_report{
      margin-bottom: 0;
      width: fit-content;
    }
    &_report_icon{
      margin-bottom: -5px;
      margin-top: 10px;
    }
    }
    &_rating{
      text-align: center;
      font-size: 16px;
      // margin-bottom: 30px;

      &_average_number{
        font-size: 24px;
      }

      &_star{
        font-size: 35px;
      }
    }
    &_author{
      flex-wrap: wrap;
      justify-content: center;

      &_img{
        min-width: 150px;
      }

      &_info{
        margin: 20px 0 40px;
        width: 100%;
        font-size: 16px;
        text-align: center;
      }

      &_follow{
        &_btn{
          top:auto;
          bottom: 20px;
          right: auto;
          left: auto;
          font-size: 16px;
        }
      }
    }
  }
}
