@import "./base.scss";
.explore {
  &_header {
    width: 100%;
    height: 360px;
    background-color: #333333;
    position: relative;

    &__img {
      width: 100%;
      height: 250px;
      position: absolute;
      top: 0;
      z-index: 0;
    }

    &__text {
      text-align: center;
      font-size: 30px;
      padding-top: 3%;
      color: #ffffff;
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    &__input {
      width: 60%;
      height: 60px;
      background: #eeeeee;
      border: none;
      border-radius: 5px;
      font-size: 15px;
      padding: 10px 10px 10px 60px;
      font-family: inherit;
      left: 0;
      right: 0;
      margin-top: 8%;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
    }

    &_filter {
      position: absolute;
      margin-bottom: 1%;
      bottom: 0;
      width: 55%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      &__fields {
        width: 50%;
        float: left;
      }
    }
  }

  &_body {
    width: 60%;
    margin: 5% auto;
    margin-bottom: 2rem;
  }

  &_hide {
    display: none;
  }
}

#explore_nav {
  box-shadow: none;
}

#explore_input {
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: 20px center;
  font-size: 25px;
}
.explore_label {
  color: #ffffff;
  padding-right: 5%;
  font-size: 25px;
}

.explore_select {
  width: 50%;
  display: inline-block;
}

.explore_select_input__control {
  border-radius: 0 !important;
}

.explore_select_input__value-container div {
  color: white;
}

.explore_select_input__indicator-separator {
  background-color: #333333 !important;
}

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  .explore_header {
    height: 400px;

    &__img {
      height: 250px;
    }
    &__input {
      width: 60%;
      margin-top: 11%;
    }
    &_filter {
      width: 60%;
      &__fields {
        width: 100%;
        margin-bottom: 1.5%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .explore_header {
    &__img {
      height: 240px;
    }

    &__input {
      width: 80%;
      margin-top: 13%;
    }
  }
  .explore_body {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .explore_header {
    &__input {
      margin-top: 16%;
    }
  }
}

@media only screen and (max-width: 425px) {
  /* For mobile phones: */
  .explore_header {
    height: 350px;

    &__img {
      height: 200px;
    }

    &__input {
      width: 90%;
      margin-top: 14%;
    }

    &_filter {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 320px) {
  /* For mobile phones: */
  .explore_header {
    &__input {
      margin-top: 17%;
    }
  }
}
