@import "../base.scss";

.login_body{
    padding: 0;
    color: #656464;

    &_required_text{
      color: $red-color;
      text-align: center;
      font-size: 15px;
    }

    &_info{
      display: flex;
      padding: 40px 30px 70px;
      width: 750px;
    }

    &_socials{
      width: 42.5%;
      padding: 10px 2%;

      &_btn{
        width: 100%;
        color: $white-color;
        margin: 20px 0;
        border: none;

        &_img{
          transform: scale(1.3);
          margin-left: -30px;
          margin-right: 20px !important;
        }
      }

      &_facebook{
        background: #385592;
      }

      &_twitter{
        background: #48A2D7;

        img{
            margin-bottom: -2px;
        }
      }

      &_google{
        background: #C53F2E;

        img{
            margin-bottom: -3px;
        }
      }

      &_responsive{
        display: none;
        width: 0;
      }
    }
    
    &_divider{
      width: 10%;
      position: relative;

      &_line{
        transform: rotate(90deg);
        border: #BCBCBC 1px solid;
        width: 350px;
        position: absolute;
        top: 50%;
        left: -135px;
        right: 0;
        margin: 0 auto;
        z-index: 1010;
      }

      &_span{
        font-size: 20px;
        font-weight: bold;
        border: 1px solid ;
        border-radius: 50%;
        padding: 10px;
        position: absolute;
        top: 30%;
        left: 10px;
        right: 0;
        margin: 0 auto;
        width: fit-content;
        z-index: 1011;
        background: $white-color;
      }
    }

    &_form{
      width: 47.5%;
      padding: 14px 2%;
      
      &_input{
        width: calc(100% - 20px);
        margin: 15px 0 28px;
      }

      &_rem_div{
        width: 100%;
        display: flex;
        margin: -12px 10px 20px;

        &_input{
          width: 20px;
          height: 20px;
          margin-right: 7px;
        }

        &_text{
          font-size: 14px;
        }
      }

      &_error{
        color: $red-color;
        text-align: center;
        margin: -25px 0 25px;

        &_name{
          margin-bottom: 10px;
        }

        &_general{
          color: $white-color;
          background: $red-color;
          font-size: 15px;
          text-transform: capitalize;
          width: calc(100% - 20px);  
          margin: -30px auto 0;
          border-radius: 5px;
          padding: 5px 0;
          text-align: center;
        }
      }

      &_submit_btn{
        width: calc(100% - 20px);
        background: $primary-color;
        color: $white-color;
        border: none;
        margin: 0 0 20px 10px;
      }

      &_links{
        justify-content: space-between;
        width: calc(100% - 20px);
        margin-left: 10px;
        display: flex;
      }
      &_link{
        color: $primary-color;
      }
    }

    &_instruction {
      text-align: center;
      margin: 20px 0;
      font-size: 16px;
      font-weight: 700;
      color: $primary-color;
    }

    &_reset_section {
      text-align: center;
    }

    &_reset_input {
      font-size: 1.6rem;
      font-family: inherit;
      border: 1px solid #cccccc;
      background: #f7f7f7;
      width: 60%;
      margin-top: 4rem;
    }

    &_reset_btn {
      width: 35%;
      margin: 40px 0 20px 0;
      outline: none;
    }

    &_response_text {
      margin: 20px 0;
      color: #000;
      text-transform: capitalize;      
    }
}

#login-register-btn{
  padding: 0;
  font-size: 1.6rem;
}

@media screen and (max-width: 860px){
    .login_body{
        width: 100%;
    
        &_required_text{
          text-align: center;
          font-size: 13px;
        }
    
        &_info{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          padding: 10px 0px 0px;
        }
    
        &_socials{
          width: 0;
          display: none;

          &_responsive{
            width: 100%;
            order:3;
            display: flex;
            flex-wrap: wrap;

            &_text{
                color: #656464;
                text-align: center;
                font-size: 20px;
                width: 100%;
                margin: 30px 0 20px;
            }

            &_btn{
                &_img{
                  transform: scale(2);
                  margin: 5px !important;
                }
            }

            button{
              width:fit-content;
              margin: 10px auto;
            }

            button:first-of-type{
              margin-left: 10%;
            }

            button:last-of-type{
                margin-right: 10%;
              }
          }
        }
        
        &_divider{
          order: 2;
          width: 100%;
          height: 50px;
    
          &_line{
            transform: rotate(0);
            width: calc(100% + 60px);
            top: 75%;
            left: -30px;
          }
        }
    
        &_form{
          width: 100%;
          order: 1;
          padding: 0px 2%;

          &_input{
            margin: 5px 0;
          }

          &_rem_div{
            margin: 5px 10px 10px;
          }

          &_error{
            margin: 0;
          }
        }
    }
}

@media screen and (max-width: 500px){
    .login_body{
        &_modal{
          padding: 30px 5px;
          top: -10%;
        }

        &_form{
            &_link{
              font-size: 13px;
            }
        }

        &_divider{
      
            &_line{
              width: calc(100% + 10px);
              left: -5px;
            }
          }

        &_reset_input {
          width: 85%;
        }

        &_reset_btn {
          width: 90%;
        }
    }
}